.disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

table tr {
	border: solid;
	border-width: 1px 0;
	color: #3a3a3a;
}

table tr:first-child {
	border-top: none;
}

table tr td {
	padding: 10px;
}

table tr th {
	color: #939393;
	font-size: 12px;
}

table tr th i {
	color: #939393;
	font-size: 16px;
	margin-left: 7px;
}

table tr th {
	padding: 10px;
}

table tr .trackCount {
	width: 8%;
	text-align: left;
}

table tr .trackInfo {
	width: 75%;
	text-align: left;
}

table tr .trackOptions {
	width: 5%;
	text-align: left;
}

table tr .trackDuration {
	width: 12%;
	text-align: left;
}

table tr td {
	font-size: 14px;
}

table .hoverRow:hover {
	background-color: #282828;
}

table tr td .play-row,
table tr td .pause-row {
	width: 20px;
	visibility: hidden;
	position: absolute;
	cursor: pointer;
}

table tr td span {
	visibility: visible;
}

table tr:hover td span {
	visibility: hidden;
}

table tr:hover td .play-row,
table tr:hover td .pause-row {
	visibility: visible;
	font-size: 1.9em;
	color: #939393;
	margin-top: -3px;
	margin-left: -5px;
}

table tr td .play-row:hover,
table tr td .pause-row:hover {
	color: #fff;
	transition: all 0.2s ease-in-out;
	transform: scale(1.1);
}

table tr td .trackOptions {
	width: 5%;
	float: left;
	text-align: right;
}

table tr td img {
	width: 15px;
	visibility: hidden;
}

table tr:hover td img {
	visibility: visible;
}

.currentSong {
	color: #07d159;
}
