.artistInfo {
	text-align: center;
}

.borderBottom {
	border-bottom: 1px solid #939393;
	margin-bottom: 20px;
}

table tr .trackInfo {
	width: 55%;
	text-align: left;
}

table tr .trackAlbum {
	width: 20%;
	text-align: left;
}

table tr .rowLink:hover {
	cursor: pointer;
	text-decoration: underline;
}

.imageContainer {
	background-image: var(--i);
	/* background-image: url('../images/artist-header/Radiohead.jpg'); */
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
