.artistInfo {
	text-align: left;
}

table tr .trackInfo {
	width: 55%;
	text-align: left;
}

table tr .trackAlbum {
	width: 20%;
	text-align: left;
}

table tr .rowLink:hover {
	cursor: pointer;
	text-decoration: underline;
}

.imageContainer {
	background-image: var(--i);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: 100% 100%;
}

.entityInfoArtist {
	padding: 40px 0 80px 0;
}

.artistInfo .headerButtons {
	margin-left: 10px;
}

#rmvUserArtistBtn::after {
	content: 'FOLLOWING';
}

#rmvUserArtistBtn:hover::after {
	content: 'UNFOLLOW';
}

.artist-image {
	border-radius: 50%;
	height: 200px;
}

.artist-title {
	text-align: center;
}

.artist-title .artist-name {
	color: #fff;
	font-weight: bold;
}

.album-header {
	text-align: left;
	border-bottom: 1px solid #3a3a3a;
	line-height: 3;
}

.artist-album-image:hover {
	cursor: pointer;
}

.artist-album-title:hover {
	cursor: pointer;
	text-decoration: underline;
}
