#navBarContainer {
	background-color: #000;
	width: 220px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.navBar {
	padding: 25px;
	display: flex;
	flex-direction: column;
	-ms-flex-direction: column;
}

.navBar .group {
	border-top: 1px solid #a0a0a0;
	padding: 10px 0;
}

.navBar .group-alt {
	padding-bottom: 15px;
}

.navItem {
	padding: 10px 0;
	font-size: 14px;
	font-weight: 700;
	display: block;
	letter-spacing: 1px;
	position: relative;
}

.navItemLink,
.navItemLink span {
	color: #a0a0a0;
	text-decoration: none;
}

.navItemLink-span {
	margin-left: 10px;
}

.navItemLink:hover {
	color: #ffffff;
}

.navItemLink:hover span,
.navItemLink:hover i {
	color: #ffffff;
}

.navItemLink .icon {
	font-size: 2em;
	color: #a0a0a0;
}

.navItemLink .icon-alt {
	font-size: 1.5em;
	color: #a0a0a0;
}
