.disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
}

* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	letter-spacing: 1px;
}

body {
	background-color: #181818;
	font-size: 14px;
	min-width: 720px;
}

#topContainer {
	min-height: 100%;
	width: 100%;
}

#mainViewContainer {
	margin-left: 220px;
	padding-bottom: 90px;
	width: calc(100% - 220px);
}

#mainContent {
	padding: 0 20px;
}

.pageHeadingBig {
	padding: 20px;
	text-align: center;
}

.gridViewItem {
	display: inline-block;
	margin-right: 20px;
	width: 29%;
	max-width: 200px;
	min-width: 150px;
	margin-bottom: 20px;
}

.gridViewItem img {
	width: 100%;
}

.gridViewItem span {
	cursor: pointer;
}

.gridViewInfo {
	font-weight: 300;
	text-align: center;
	padding: 5px 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.gridViewItem a {
	text-decoration: none;
}

.entityInfo {
	padding: 40px 0 10px 0;
	display: inline-block;
	width: 100%;
}

.entityInfo .leftSection {
	width: 30%;
	float: left;
	max-width: 250px;
}

.entityInfo .leftSection img {
	width: 100%;
}

.entityInfo .rightSection {
	width: 70%;
	float: left;
	padding: 5px 10px 5px 40px;
	box-sizing: border-box;
}

.entityInfo .rightSection h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 48px;
}

.entityInfo .rightSection p,
.entityInfo .rightSection span {
	color: #939393;
	font-weight: 200px;
}

.entityInfo .rightSection .white-lbl {
	color: #fff;
	font-weight: 200px;
}

.entityInfo .rightSection .artist-link {
	text-decoration: none;
	color: #fff;
}

.entityInfo .rightSection .artist-link:hover {
	text-decoration: underline;
	cursor: pointer;
}

.button {
	color: #fff;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: transparent;
	font-weight: 500;
	letter-spacing: 2px;
	border: 2px solid #fff;
	border-radius: 500px;
	min-width: 130px;
	height: 45px;
	padding-top: 4px;
}

.button:focus {
	outline: none;
}

.button:hover {
	transition: all 0.2s ease-in-out;
	transform: scale(1.1);
}

.button.green {
	background-color: #2ebd59;
	border-color: #2ebd59;
}

.button.green:hover {
	background-color: #46f079;
	border-color: #46f079;
}

table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	margin-bottom: 30px;
}

table tr {
	border: solid;
	border-width: 1px 0;
	color: #3a3a3a;
}

table tr:first-child {
	border-top: none;
}

table tr td {
	padding: 10px;
}

table tr th {
	color: #939393;
	font-size: 12px;
}

table tr th i {
	color: #939393;
	font-size: 16px;
	margin-left: 7px;
}

table tr th {
	padding: 10px;
}

table tr .trackCount {
	width: 8%;
	text-align: left;
}

table tr .trackInfo {
	width: 75%;
	text-align: left;
}

table tr .trackOptions {
	width: 5%;
	text-align: left;
}

table tr .trackDuration {
	width: 12%;
	text-align: left;
}

table tr td {
	font-size: 14px;
}

table .hoverRow:hover {
	background-color: #282828;
}

table tr td .play-row,
table tr td .pause-row {
	width: 20px;
	visibility: hidden;
	position: absolute;
	cursor: pointer;
}

table tr td span {
	visibility: visible;
}

table tr:hover td span {
	visibility: hidden;
}

table tr:hover td .play-row,
table tr:hover td .pause-row {
	visibility: visible;
	font-size: 1.9em;
	color: #939393;
	margin-top: -3px;
	margin-left: -5px;
}

table tr td .play-row:hover,
table tr td .pause-row:hover {
	color: #fff;
	transition: all 0.2s ease-in-out;
	transform: scale(1.1);
}

table tr td .trackOptions {
	width: 5%;
	float: left;
	text-align: right;
}

table tr td img {
	width: 15px;
	visibility: hidden;
}

table tr:hover td img {
	visibility: visible;
}

.currentSong {
	color: #07d159;
}

.centerHeader {
	text-align: center;
}

.centerSection .artistInfo .artistName {
	font-size: 48px;
}

.noResults {
	margin: 15px;
	display: block;
}

.playlistImage {
	border: 3px solid #282828;
	padding: 10px;
}
