.playlistContainer {
	padding: 10px 0;
}

.buttonItems .button {
	margin-left: 20px;
	margin-top: -35px;
	margin-bottom: 30px;
}

.playlistItem:hover {
	cursor: pointer;
}

.nameContainer {
	padding: 10px 0 10px 0;
	display: inline-block;
	width: 100%;
}
