.playlistContainer {
	padding: 10px 0;
}

.buttonItems .button {
	margin-left: 20px;
	margin-top: -35px;
	margin-bottom: 30px;
}

.playlistItem:hover {
	cursor: pointer;
}

.nameContainer {
	padding: 10px 0 10px 0;
	display: inline-block;
	width: 100%;
}

.add-playlist-btn {
	margin-top: 0px !important;
}

.modal-background {
	background-color: #282828;
}

.modal-header {
	border-bottom: 0 none;
}

.modal-footer {
	border-top: 0 none;
}

.center-header {
	margin: 0 auto;
}

.center-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-content {
	text-align: left;
}

.close-button {
	position: absolute;
	right: 1rem;
}

.close-button:focus {
	outline: none;
	border: none !important;
}

.playlist-name-lbl {
	color: #939393;
	font-weight: bold;
}

.playlist-name-input {
	color: black;
}
